@tailwind base;
@tailwind components;
@tailwind utilities;

.checkmark {
  @apply ml-1 text-gray-900 group-hover:text-gray-700 transition-all duration-100 m-1 font-semibold;
}

input:checked + .checkmark {
  @apply text-rose-600 group-hover:text-rose-500;
}

.category-shadow {
  box-shadow: -2px 2px 3px 1px #a6abb44f;
}

.category-hide {
  max-height: 0px;
  @apply ease-out;
}

.category-display {
  max-height: 1500px;
  @apply ease-in;
}
