@media (min-width: 768px) {
  .prod-info-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-text-overflow: clip;
    line-clamp: 16;
    -webkit-box-orient: vertical;
  }
}
