#attributes-table {
  font-family: "Roboto", sans;
}

#attributes-table tbody tr {
  @apply bg-rose-100 odd:bg-rose-200;
}

#attributes-table td {
  @apply text-sm p-1;
}

#attributes-table .hide {
  max-height: 0px;
  @apply ease-out duration-300;
}

#attributes-table .display {
  max-height: 10000px;
  transition-duration: 400ms;
  @apply ease-in;
}

#attributes-table .tl-rotate-180 {
  @apply rotate-180;
}
